/* Import Inter (font) */
@import url('https://rsms.me/inter/inter.css');

/* Global settings */
html { 
	/* Font */
	font-family: 'Inter', serif;
	font-feature-settings: 'ss01', 'ss02', 'dlig', 'case', 'frac';
	font-feature-settings: 'zero' 0;
	/* Page formatting */
	margin: 1em auto;
	max-width: 40em;
	/* Color */
	color: #fff;
	background-color: #111;
}

img {
	max-width: 40em;
}

hr {
	color: #222;
}

footer {
	padding: 0.5em;
}

/* Buttons */
.button {
	/* Padding */
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	text-shadow: #000;
}

.button:hover {
	color: #e03;
	background: linear-gradient(#333, #222);
	font-weight: 600;
	border-radius: 1em;
	text-shadow:0 0 0.5em #e03;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
	transition: color 250ms, text-shadow 500ms;
}

.button:active {
	box-shadow:inset 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.buttonSel {
	background: linear-gradient(#333, #222);
	box-shadow:inset 0px 2px 2px rgba(0, 0, 0, 0.5);
	border-radius: 1em;
}

/* Horizontal links */
.navBox {
	/* Flexbox */
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.linkBox {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	list-style: none;
}