:root { font-family: "Inter", sans-serif; }

body { margin: 0; }

h1 { font-size: 3em; }

p, a, li {
    font-weight: 500;
    margin: 0;
    line-height: 1.5em;
    .subText { color: #555; }
}

.blm {
    text-decoration: none;
    padding: 0.75em;
    background: #000;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    &:hover {
        text-decoration: underline;
        background: #333;
    }
}

/* Jumbotron */
.jumbotron {
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(45deg, #ff3344, #f75827);
    color: #fff;
    padding: 2em 10vw;

    /* Jumbotron Content */
    .jumbotronContent {
        display: flex;
        flex-direction: column;
        flex-grow: 4;
        justify-content: center;
        * {
            line-height: 1.5em;
            margin: 0;
            margin-top: 10pt;
            max-width: 600px;
        }
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
    margin: 2em 0em;
}

div.card {
    display: flex;
    flex-direction: column;
    max-width: 20em;
    flex-grow: 2;
    border: solid 2pt #00000050;
    border-radius: 0.5em;
    box-shadow: 0 0 1em grey;
    margin: 1em 1em;
}

img.cardPhoto { 
    width: 100%;
    border-radius: 0.4em 0.4em 0 0;
}

div.cardText { padding: 1em; }

/* Footer */
footer {
    height: 15vh;
    display: flex;
    flex-direction: column;
    background-color: #222;
    color: #fff;
    justify-content: center;
    div {
        margin: 0 10vw;
        display: flex;
        justify-content: space-between;
    }
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #111;
        color: #fff;
    }

    a.button {
        background-color: #fff;
        color: #000;
    }

    p.subText { color: #aaa; }

    div.card {
        box-shadow: 0 0 1em black;
        border: solid 2pt #ffffff10;
    }

    div.sys9wm {
        background-image: url("../images/sys9wm-dark.svg");
    }
}
