@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import "gruvbox.css";

html, body {
    font-family: 'Cartograph CF', 'Roboto Mono', monospace;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: #1d2021;
    color: #ebdbb2;
}

hr {
    height: 0.05em;
    background-color: #665c54;
    border: 0;
}

a {
    color: #cc241d;
}

a.clean {
    text-decoration: none;
    color: #ebdbb2;
}

a:hover {
    color: #cc241d;
}

.date {
    color: #a89984;
}


/* Blog listing */
ul.blog {
    list-style: none;
    padding-left: 0;
}

/* Navigation */
div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p.title {
    align-items: center;
    text-decoration: none;
}

nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

nav > ul > li > a {
    padding-left: 0.5em;
    text-decoration: none;
}