--- 
# index.scss 
--- 
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import 'gruvbox.css';

$foreground: #fff;
$foregroundless: #888;
$background: #000;
$accent: #ff453a;

html,
body {
    font-family: 'Inconsolata', monospace;
    //'Cartograph CF', 
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: $background;
    color: $foreground;
}

p {
    line-height: 1.5em;
    
}

li {
    line-height: 1.5em;
}

hr {
    height: 0.05em;
    background-color: $foregroundless;
    border: 0;
}

a {
    color: $accent;
}

a.clean {
    text-decoration: none;
    color: $foreground;
}

a:hover {
    color: $accent;
}

.date {
    color: $foregroundless;
}

/* Blog listing */
ul.blog {
    list-style: none;
    padding-left: 0;
}

/* Navigation */
div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p.title {
    align-items: center;
    text-decoration: none;
}

nav>ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

nav>ul>li>a {
    padding-left: 0.5em;
    text-decoration: none;
}

@media (prefers-color-scheme: light) {
    $foreground: #000;
    $foregroundless: #444;
    $background: #fff;
    $accent: #ff3b30;

    html,
    body {
        background-color: $background;
        color: $foreground;
    }

    hr {
        background-color: $foregroundless;
    }

    a {
        color: $accent;
    }

    a.clean {
        color: $foreground;
    }

    a:hover {
        color: $accent;
    }

    .date {
        color: $foregroundless;
    }
}